/*CSS for screens bigger than 575 px*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto;
    background-color: black;
    padding: 35px;
    width: 400px;
    border-radius: 6px;
}

form label {
    font-weight: normal;
    margin: 0px 0;
}

form input {
    width: 100%;
    font-size: 1em;
    padding: 20px;
    margin: 5px 0px;
    border: none;
    border-radius: 10px;
}

select {
    width:100%;
    padding:15px;
    cursor: pointer;
}

button {
    background-color: #B81D24;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 10px 0px;
    width: 100%;
    color: white;
    font-size: 1em;
    transition-duration: 0.4s;
}

button:enabled:hover{
    background-color: #E50914;
}

button:disabled {
    cursor: unset;
}

p {
    margin: auto;
    font-size: 1em;
    font-weight: lighter;
}

p a {
    text-decoration: underline;
}

form h1 {
    margin-bottom: 20px;
}

.error-message {
    padding-top: 10px;
    color: #E50914;
    text-align: center;
}

/*checkbox styling*/
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin: 12px 0px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

/* Hide default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #F5F5F1;
}

/* mouse-over*/
.checkbox-container:hover input ~ .checkmark {
    background-color: #E50914;
}

/* checked */
.checkbox-container input:checked ~ .checkmark {
    background-color: #B81D24;
}

/* check hidden */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show checkmark */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style checkmark */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
