.countrylist {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    /*padding: 35px;*/
    /*margin: auto;*/
    /*height: 100%;*/
    /*border-radius: 6px;*/
}

.countrylist-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: flex-start;
    /*align-content: flex-start;*/
    justify-content: space-evenly;
    padding: 35px;
    width: 80%;
    flex-wrap: wrap;
}

.country-button {
    margin: 5px;
    width: 120px;
    height: 80px;
}

h1, h3 {
    text-align: center;
    padding: 10px;
}
