.poster-container {
    display: flex;
    margin: 15px auto;
    width: 1000px;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
    align-items: center;

}
.poster-card {
    /*width: 200px;*/
    /*height: 350px;*/
}

.alt {
    color: white;
}
.poster-image {
    color: white;
    margin-right: 20px;
    width: 200px;
    height: 300px;
    text-align: start;
}

.poster-title {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 200px;
    text-overflow: ellipsis;
    margin-top: auto;
}

ul.poster-images {
    /*margin: 0;*/
    /*padding: 0;*/
    /*white-space: nowrap;*/
    /*width: 600px;*/
    /*overflow-x: auto;*/
    /*background-color: #ddd;*/
}
ul.poster-images li {
    /*display: inline;*/
    /*width: 150px;*/
    /*height: 150px;*/
}