.nav-container {
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
}

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em
}

.active-link {
    border-bottom: 2px solid white;
}

a,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}

