@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #221F1F;
}

h1, h2, h3, p {
    color: #F5F5F1;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h1.title {
    letter-spacing: 5px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: normal;
}

p {
    font-size: 1.5em;
    padding-top: 10px;
}

main {
    margin: 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*screen min width 575px*/
@media screen and (min-width: 575px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}
